@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/* For custom styles in project */

body{
  overflow-x: hidden;
}

.octocat{
  height: 20px;
  margin-bottom: -5px;
  margin-left: 8px;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.5s;
}

img.desaturate:hover {
  -webkit-filter: none;
  filter: none;
}

table tr:hover{
  background: initial;
}

body{
  background-color: transparent;
}

.main{
  padding-top: 0;
  z-index: 10;
}

#navbar-top .nav a:hover{
  color: #4dc08d;
  background-color: rgba(255,255,255, 0.4);
}

.nav a{
  cursor: pointer;
}

#navbar-top .nav-mobile #nav-mobile-btn{
  padding: 16px 16px 16px 0;
}

#navbar-top{
  #nav-logo{
    position: absolute;
    /*margin-top: -65px;*/
  }

  h1{
    visibility: hidden;
  }
}


#banner{
  height: 550px;
  padding-top: 110px;
  margin-top: $navbar-top-height;
  background: url('/img/home-bg.jpg');
  background-position: top center;
  background-size: auto 550px;

  #banner-content{
    z-index: 10;

    h1{
      text-shadow: 2px 1px 1px rgba(100, 100, 100, 1);
      font-size: 44px;
      margin-bottom: 40px;
      -webkit-transform: translateZ(50px);
      -moz-transform: translateZ(50px);
    }

    p{
      text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 40px;
      -webkit-transform: translateZ(50px);
      -moz-transform: translateZ(50px);
      transform: translateZ(50px);
    }
  }
}

@media(max-width: 900px){
  #banner{
    #banner-content{
      h1{
        font-size: 32px;
      }
      p{
        font-size: 20px;
      }
    }
  }
}

#pricing table.screen-large{
  display: table;
}
#pricing table.screen-mobile{
  display: none;
}
@media(max-width: 680px){
  #pricing table.screen-large{
    display: none;
  }
  #pricing table.screen-mobile{
    display: block;
    width: 250px;
    margin: 10px auto;
  }
}

.techbox{
  min-height: 480px;
}

.techbox-btn{
  margin-top: -22px;
}

h2 img{
  vertical-align: middle;
  padding-bottom: 10px;
  padding-right: 20px;
}

.btn-large{
  font-size: 18px;
  padding: 12px 40px;
}

.btn-stroke-gray:hover{
  background-color: #fff;
}

//styles bug
.btn, .btn-small, .btn-stroke, .btn-stroke-gray{
  line-height: 1.3;
}

/* Drive uploader */
#veil {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(245,245,245);
  color: #6f6f6f;
  text-align: center;
  z-index: 80;
  display: table-cell;
  vertical-align: middle;
}

#veil p{
  margin-top: 24px;
}

#veil label{
  display: none;
}

#veil input[type=text]{
  display: inline-block;
  background: transparent;
  border: none;
  border-bottom: 1px solid #6f6f6f;
  padding: 8px 0;
  margin-bottom: 16px;

}

#veil input[type=text]:active, #veil input[type=text]:focus{
  border-bottom: 2px solid #3079ed;
  margin-bottom: 15px;
}

#uploader{
  position: relative;
  width: 100%;
  min-height: 260px;
  z-index: 50;
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 13px;
  display: table;
}
