/* For custom styles in project */

.octocat{
  height: 20px;
  margin-bottom: -5px;
  margin-left: 8px;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.5s;
}

img.desaturate:hover {
  -webkit-filter: none;
  filter: none;
}

table tr:hover{
  background: initial;
}

body{
  background-color: transparent;
}

.main{
  padding-top: 0;
  z-index: 10;
}
#viewer{
  position: fixed;
  top: -100px; bottom: -100px;
  left: -100px; right: -100px;
  z-index: -1;
  background-color: #7b7a4c;
}

#navbar-top .nav a:hover{
  color: #4dc08d;
  background-color: rgba(255,255,255, 0.4);
}
#navbar-bottom{
  height: 72px;
  background-color: rgba(255,255,255, 0.9);

  h1{
    float: left;
    font-size: 36px;
    margin: 0;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 15px;

    a:hover{
      text-decoration: none;
    }
  }
  .nav { 
    float: right;
    padding: 0 15px;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    a {
      color: #02a899;
      text-decoration: none;
      font-size: 15px;
      height: 72px;
      display: inline-block;
      padding-top: 29px;
      padding-right: 7.5px;
      padding-bottom: 28px;
      padding-left: 7.5px;
      line-height: 1;
      font-weight: bold;
    }
  }
}

.nav a{
  cursor: pointer;
}

#navbar-top .nav-mobile #nav-mobile-btn{
  padding: 16px 16px 16px 0;
}

#banner{
  height: 700px;

  #banner-content{
    position: absolute;
    top: 50%;
    height: 300px;
    margin-top: -186px; /* height / 2 + navbar height / 2*/
    position: absolute;
    left: 50%;
    width: 870px;
    margin-left: -435px;
  }

  h1{
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);
    font-size: 44px;
    margin-bottom: 40px;
  } 

  p{
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 40px;
  }

}

.techbox{
  height: 480px;
}

.techbox-btn{
  margin-top: -22px;
}

h2 img{
  vertical-align: middle;
  padding-bottom: 10px;
  padding-right: 20px;
}

.btn-large{
  font-size: 18px;
  padding: 12px 40px;
}

.btn-stroke-gray:hover{
  background-color: #fff;
}

//styles bug
.btn, .btn-small, .btn-stroke, .btn-stroke-gray{
  line-height: 1.3;
}