/* For custom styles in project */

body{
  overflow-x: hidden;
}

.octocat{
  height: 20px;
  margin-bottom: -5px;
  margin-left: 8px;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.5s;
}

img.desaturate:hover {
  -webkit-filter: none;
  filter: none;
}

table tr:hover{
  background: initial;
}

body{
  background-color: transparent;
}

.main{
  padding-top: 0;
  z-index: 10;
}

#navbar-top .nav a:hover{
  color: #4dc08d;
  background-color: rgba(255,255,255, 0.4);
}
#navbar-bottom{
  height: 72px;
  background-color: rgba(255,255,255, 0.9);
  z-index: 20;

  h1{
    float: left;
    font-size: 36px;
    margin: 0;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 15px;

    a:hover{
      text-decoration: none;
    }
  }
  .nav { 
    float: right;
    padding: 0 15px;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    a {
      color: #02a899;
      text-decoration: none;
      font-size: 15px;
      height: 72px;
      display: inline-block;
      padding-top: 29px;
      padding-right: 7.5px;
      padding-bottom: 28px;
      padding-left: 7.5px;
      line-height: 1;
      font-weight: bold;
    }
  }
}

@media(max-width: 620px){
  #navbar-bottom .nav{
    display: none;
  }
}

.nav a{
  cursor: pointer;
}

#navbar-top .nav-mobile #nav-mobile-btn{
  padding: 16px 16px 16px 0;
}

#paralax{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: -1;
  background-color: #a4bacf;
  -webkit-transform-style: preserve-3d; 
  transform-style: preserve-3d;
}

#viewer{
  z-index: 0;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}
#banner{
  height: 700px;

  #banner-content{
    position: absolute;
    z-index: 10;
    top: 50%;
    height: 300px;
    margin-top: -186px; /* height / 2 + navbar height / 2*/
    position: absolute;
    left: 50%;
    width: 870px;
    margin-left: -435px;

    h1{
      text-shadow: 2px 1px 1px rgba(100, 100, 100, 1);
      font-size: 44px;
      margin-bottom: 40px;
      -webkit-transform: translateZ(50px);
      -moz-transform: translateZ(50px);
    } 

    p{
      text-shadow: 1px 1px 1px rgba(100, 100, 100, 1);
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 40px;
      -webkit-transform: translateZ(50px);
      -moz-transform: translateZ(50px);
      transform: translateZ(50px);
    }
  }

  #btn-learnmore{
    top: 50%;
    margin-top: 80px;
    -webkit-transform-style: preserve-3d; 
    transform-style: preserve-3d;
    -webkit-transform: translateZ(60px);
    -moz-transform: translateZ(60px);
    transform: translateZ(60px);
  }
}

@media(max-width: 900px){
  #banner{ 
    #banner-content{
      left: 0; right: 0;
      width: initial;
      margin-left: 0;

      h1{
        font-size: 32px;
      }
      p{
        font-size: 20px;
      }
    }
  }
}

#pricing table.screen-large{
  display: table;
}
#pricing table.screen-mobile{
  display: none;
}
@media(max-width: 680px){
  #pricing table.screen-large{
    display: none;
  }
  #pricing table.screen-mobile{
    display: block;
    width: 250px;
    margin: 10px auto;
  }
}

.techbox{
  min-height: 480px;
}

.techbox-btn{
  margin-top: -22px;
}

h2 img{
  vertical-align: middle;
  padding-bottom: 10px;
  padding-right: 20px;
}

.btn-large{
  font-size: 18px;
  padding: 12px 40px;
}

.btn-stroke-gray:hover{
  background-color: #fff;
}

//styles bug
.btn, .btn-small, .btn-stroke, .btn-stroke-gray{
  line-height: 1.3;
}