/* For custom styles in project */

.octocat{
  height: 20px;
  margin-bottom: -5px;
  margin-left: 8px;
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.5s;
}

img.desaturate:hover {
  -webkit-filter: none;
  filter: none;
}

table tr:hover{
  background: initial;
}

table tr td{
  padding: 20px;
}

.home{ 
  #navbar-top{
    background-color: rgba(255, 255, 255, 0.4);
  }
  .main{
    padding-top: 0;
  }
  #viewer{
    width: 100%;
    height: 360px;
    background: #eee;
  }
  #navbar-top .nav a:hover{
    color: #4dc08d;
    background-color: rgba(255,255,255, 0.8);
  }
}

#featuresviewer{
  width: 100%; 
  height: 300px;
}